amqp==2.2.2
asn1crypto==0.23.0
bcrypt==3.1.4
billiard==3.5.0.3
celery==4.1.0
certifi==2018.1.18
cffi==1.11.2
chardet==3.0.4
cryptography==2.1.2
dj-static==0.0.6
Django==1.11.28
django-appconf==1.0.2
django-error-report==0.1.6
django-ftpserver==0.5.0
django-ipware==1.1.6
django-storages==1.6.5
djangorestframework==3.7.7
dropbox==8.7.1
enum34==1.1.6
Fabric==1.14.0
gevent==1.2.2
greenlet==0.4.12
gunicorn==19.7.1
idna==2.6
ipaddress==1.0.18
kombu==4.1.0
paramiko==2.3.1
psycopg2==2.7.3.2
pyasn1==0.3.7
pycparser==2.18
pyftpdlib==1.5.3
PyNaCl==1.1.2
python-dateutil==2.6.1
pytz==2017.2
rcssmin==1.0.6
redis==2.10.6
requests==2.18.4
rjsmin==1.0.12
six==1.10.0
static3==0.7.0
urllib3==1.22
vine==1.1.4
wheel==0.24.0
whitenoise==3.3.1
