{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Natural Language Processing{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'img/favicon.ico' %}" rel="shortcut icon" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
          type="text/css">

    <!-- Custom styles for this template -->
</head>

<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-toggleable-md sticky-top navbar-light bg-primary">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">
        <img src="{% static 'img/logo.png' %}" width="50" height="50" alt="">
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if navlink == 'main' %}active{% endif %}">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item {% if navlink == 'demo' %}active{% endif %}">
                <a class="nav-link" href="{% url 'tts-demo' %}">Demo</a>
            </li>
            <li class="nav-item {% if navlink == 'evaluate' %}active{% endif %}">
                <a class="nav-link" href="{% url 'evaluate-page' %}">Evaluate</a>
            </li>
            <li class="nav-item {% if navlink == 'download' %}active{% endif %}">
                <a class="nav-link" href="{% url 'tts-download' %}">Download</a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item {% if navlink == 'evaluation_result' %}active{% endif %}">
                <a class="nav-link" href="{% url 'evaluation_result' %}">Evaluation Result</a>
            </li>
            {% endif %}
            <li class="nav-item {% if navlink == 'api' %}active{% endif %}">
                <a class="nav-link" href="{% url 'tts-api' %}">API</a>
            </li>
        </ul>
        {% if not request.user.is_authenticated %}
            <ul class="navbar-nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/login/">Admin Login</a>
                </li>
            </ul>
        {% else %}
            <ul class="navbar-nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/logout/">Logout</a>
                </li>
            </ul>
        {% endif %}
    </div>
</nav>
<div class="container-fluid" style="margin-top: 10px">
    {% block content %}
    {% endblock %}
</div>
<!-- Footer -->
<div class="alert alert-danger" role="alert" id="snackbar"></div>
<div class="footer"></div>
<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->

<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/tether.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/script.js' %}"></script>


</body>

</html>