{% extends 'tts/tts.html' %}
{% load static %}
{% block project_page %}
    <div id="required-error" class="alert alert-danger alert-dismissible fade show" role="alert" style="display: none">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Error!</strong> Kindly add some text and click play button
    </div>
    <div id="alphabet-error" class="alert alert-danger alert-dismissible fade show" role="alert" style="display: none">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Error!</strong> No English Alphabet is allowed
    </div>
    <div class="form-check form-check-inline">
        <label class="form-check-label">
            <input class="form-check-input" type="radio" name="voice_option" id="voice_1"
                   value="voice_pucit_indic_ur_cg" checked> Voice 1 (Fast)
        </label>
    </div>
    <div class="form-check form-check-inline">
        <label class="form-check-label">
            <input class="form-check-input" type="radio" name="voice_option" id="voice_2"
                   value="voice_pucit_indic_urs_cg"> Voice 1 (Slow)
        </label>
    </div>
    <div class="form-check form-check-inline">
        <label class="form-check-label">
            <input class="form-check-input" type="radio" name="voice_option" id="voice_3"
                   value="voice_pucit_indic_urm_cg"> Voice 2
        </label>
    </div>
    <textarea id="urdu_text_area" rows="4" cols="50" placeholder="Enter some text and click play button"></textarea>
    <table>
        <tr>
            <td>
                <button class="btn btn-outline-primary btn-lg" id="play_sound" type="button"><i class="fa fa-play"
                                                                                        aria-hidden="true"></i></button>
            </td>
            <td>
                <div id="loading-div" style="display: none;">
                    <img src="{% static "img/loader.gif" %}">
                </div>
            </td>
        </tr>
    </table>

    <div id="output_div"></div>
{% endblock %}