<div>
    <h1>Instructions</h1>
    <p>Kindly fill whole evaluation form very carefully as this data will be use for research purpose. Description of
        each type of question is described below. You need to listen every voice very carefully.</p>
    <div style="margin-top: 20px">
        <h4>Diagnostic Rhyme Test (DRT)</h4>
        <p>Click Play button and listen voice carefully. You have
            to select word correct work in voice from list below.</p>

        <h4>Modified Diagnostic Rhyme Test (MRT)</h4>
        <p>Click Play button and listen voice carefully. You have
            to select word correct work in voice from list below.</p>

        <h4>Mean Opinion Score (MOS)</h4>
        <p>Click Play button and listen voice carefully. You can listen voice multiple time. You have
            to rate voice according to quality of following properties.</p>

        <ul>
            <li><b>Intelligibility: </b>How much conveniently the word was recognized?</li>
            <li><b>Naturalness: </b>How close it seems to be produced by a human?</li>
            <li><b>Overall: </b>How do you rate this sound overall?</li>
        </ul>
    </div>
</div>